<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <body>
        <div ng-controller="BeginPageController">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="beginPageText">Welcome to the Score-app front page</h2>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-3"></div>
                
                <div class="col-md-9">
                    <div class="loginDiv">
                        <input type="button" value="Log In"  class="loginButton" ng-click="LoginButton()" />
                        <!--<input type="button" value="Log In" class="loginButton"/>-->
                    </div>
                </div>
                
            </div>
            
            
            
        </div>
        
    </body>
</html>
