<!DOCTYPE html>
<html>
    <head>
        <title>{{ creategameElements.CreateRoomPageTitle}}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="CreateCss">
            <div ng-controller="CreateGameFormController">

                <div class="row">
                    <div class="col-md-12">
                        <div class="CreateTitleCss"><h1>{{ creategameElements.CreateRoomPageTitle}}</h1></div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-5">
                        <div>
                            <input ng-model="gameRoom.data.Title" class="form-control" id="inputGameRoomTitle" placeholder={{creategameElements.GameRoomInputTitle}}>
                        </div>
                        <div id="startingDate">
                            <label>{{ creategameElements.StartingDate}}</label> 
                            <input ng-model="gameRoom.data.StartingDate" type="date" class="form-control" name="eventStartDate">
                        </div>
                        <div id="endingDate">
                            <label>{{ creategameElements.EndingDate}} </label>
                            <input ng-model="gameRoom.data.EndingDate" type="date" class="form-control" name="eventEndDate">                        
                        </div>
                        <div>
                            <select ng-model="Player1" class="form-controller" id="player1select">
                                <option value="">---Player 1---</option>
                                <option ng-repeat="user in users" value="{{user.ID}}">{{user.UserName}}</option>
                            </select>
                        </div>
                        <div>
                            <select ng-model="Player2" class="form-controller" id="player2select" >
                                <option value="">---Player 2---</option>
                                <option ng-repeat="user in users" value="{{user.ID}}">{{user.UserName}}</option>
                            </select>
                        </div>
                        <div>
                            <label>{{ creategameElements.PrivateCheck}}</label> 
                            <input ng-model="gameRoom.data.PrivateGame" type="checkbox" name="privateEvent" value="privateEvent" />
                        </div>
                        <div>
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td><label>Player1 score</label></td>
                                        <td><label>Player2 score</label></td>
                                    </tr>
                                    <tr>
                                        <td><input ng-model="Score1" class="form-control" id="inputGameRoomScore1" placeholder="Player1 score"></td>
                                        <td><input ng-model="Score2" class="form-control" id="inputGameRoomScore2" placeholder="Player2 score"></td>
                                    </tr>
                                </tbody>
                            </table>
                            <!--
                            <label>Game score</label> 
                            <input ng-model="gameRoom.data.Score" class="form-control" id="inputGameRoomScore" placeholder={{creategameElements.GameRoomInputScore}}>
                            -->
                        </div>
                        <button ng-click="submit()" type="button" class="btn btn-success" name="gameRoomFormSubmit">{{creategameElements.CreateSubmit}}</button>
                    </div>

                    <div class="col-md-5">
                        <img class="img-responsive" src="/images/scoregoblin_createGameRoom_500_crop1.png" alt="Chania">
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>