<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="JoinCss">
            <div ng-controller="JoinGamePageController">
                    <div class ="row">
                        
                        <div class="col-md-12">
                            <h1>{{ joinGameElements.JoinGamePageTitle }}</h1> 
                        </div>
                    </div>
                        
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-4">
                            <input id="searchField" type="search" class="form-control" placeholder=" {{ joinGameElements.SearchGamesField }} ">
                            
                        </div>
                        
                        <div class="col-md-1">
                            <input type="button" value="Search"  class="searchButton" ng-click="SearchButton()" />
                        </div>
                        
                    </div>
                        
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-5">
                            <img class="img-responsive" src="/images/ScoreGoblin_joinGame_500_crop1.png" alt="Chania">
                            <div class="well" >
                                <table class="table table-hover">
                                    <thead>
                                        <tr ng-repeat="x in gamesToJoin" >
                                            <th ng-click="setId(x.Room_ID)"> {{ x.Title}} </th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div ng-repeat= "x in gamesToJoin | filter: {Room_ID: focusedGame}">
                                <div class="well">
                                    <h1>{{ x.Title }}</h1>
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <td>{{ formatDate(x.StartingDate) }}</td>
                                                <td>{{ x.Score }}</td>
                                                <td><button type="button" class="btn btn-success" ng-click="joinGame(x.Room_ID)">Join</button></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                
            </div>
        </div>            
    </body>
</html>
