<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="ManageCss">
            <div ng-controller="ManageGamePageController" >
                <div class="row">
                    <div class="col-md-12">
                        <h1>{{manageGameElements.ManagePageTitle}}</h1> 
                    </div>  
                </div>
                <div class="row" >
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <div class="well">
                            <h1>Here is a list of the games you are an admin in</h1>
                            <table class="table table-hover">
                                <thead>

                                    <tr ng-repeat="x in adminGames" >
                                        <th class="listLink" ng-click="setId(x.Room_ID)">{{x.Title}}</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>    
                </div>



                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-5">

                        <img class="img-responsive" src="/images/ScoreGoblin_manageGame_500.png" alt="Chania"/>
                    </div>
                    <div class="col-md-5" ng-repeat="x in adminGames| filter: {Room_ID: id}">
                        <div class="well">
                            <h1>{{x.Title}} </h1>
                            <h2>Admin: {{x.AdminUserName}}</h2>
                            <h3>{{manageGameElements.Players}}</h3>
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <td>{{manageGameElements.PlayerName}}</td>
                                        <td>{{manageGameElements.Score}}</td>


                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>{{x.Player1UserName}}</td>
                                        <td><input ng-if="x.Room_ID === id" ng-model="x.score1" type="text" class="form-control" id="inputScore1" placeholder="{{formatScore(x.Score, 1)}}"><td>
                                        <!--<td>{{formatScore(x.Score, 1)}}</td>-->
                                    </tr>

                                    <tr>
                                        <td>{{x.Player2UserName}}</td>
                                        <td><input ng-if="x.Room_ID === id" ng-model="x.score2" type="text" class="form-control" id="inputScore2" placeholder="{{formatScore(x.Score, 2)}}"><td>
                                        <!--<td>{{formatScore(x.Score, 2)}}</td>-->
                                    </tr>
                                    <tr><td><button type="button" class="btn btn-success" ng-click="updateScore(x.Room_ID, x.score1, x.score2)">Save</button></td></tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </body>
</html>
