<!DOCTYPE html>
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div ng-controller="NewUserController">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-5">
                    <div class="well">
                        <div class="form-group">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th><label>Username</label></th>
                                        <th><label>Password</label></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <input ng-model="log_in_UserName" class="form-control" id="log_in_UserName" placeholder="Username">
                                        </td>
                                        <td>
                                            <input ng-model="log_in_UserPassword" type="password" class="form-control" id="log_in_UserPassword" placeholder="Password" ng-keydown="enterPressed($event)">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <button type="button" class="btn btn-success" ng-click="logInUser()">Log in</button>
                    </div>
                </div>    
                <div class="col-md-5">
                    <div class="well">
                        <div class="form-group">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th><label>Username</label></th>
                                        <th><label>Password</label></th>
                                        <th><label>First name</label></th>
                                        <th><label>Last name</label></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <input ng-model="create_user_UserName" class="form-control" id="create_UserName" placeholder="Username" >
                                        </td>
                                        <td>
                                            <input ng-model="create_user_UserPassword" type="password" class="form-control" id="create_UserPassword" placeholder="Password" ng-keydown="enterPressed($event)">
                                        </td>
                                        <td>
                                            <input ng-model="create_user_FirstName" class="form-control" id="create_FirstName" placeholder="First name" ng-keydown="enterPressed($event)">
                                        </td>
                                        <td>
                                            <input ng-model="create_user_LastName" class="form-control" id="create_LasttName" placeholder="Last name" ng-keydown="enterPressed($event)">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>                                              
                        </div>
                        <button type="button" class="btn btn-success" ng-click="createUser()">Create user</button>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
