<!DOCTYPE html>
<html>
    <head>
        <title>Score-App profile page</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="ProfileCss">
            <div ng-controller="ProfileController">

                <div class="row">
                    <div class="col-md-12" id="ProfileTitle">
                        <div class="StylingProfileTitle"><h1>{{ profileElements.profilePageTitle}}</h1></div>
                    </div>
                </div>    

                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-5">
                        <div class="well">
                            <p>Welcome to score app {{ user.UserName}}</p>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="well">
                            <img src="images/ScoreGoblin_profile_420.png" class="img-rounded" alt="">
                        </div>
                    </div>


                </div>


                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-5">
                        <div class="well">
                            <table class="table table-hover">
                                <thead>
                                    <tr ng-repeat="x in userGames" >
                                        <th ng-click="setId(x.id)"> {{ x.title}} </th>
                                    </tr>
                                </thead>
                            </table>

                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="well">
                            <div  ng-repeat= "x in userGames| filter: {id: specificRecords}" >
                                <h1>{{ x.title}}</h1>
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td>{{  x.startingDate}}</td>
                                            <td>{{ x.score}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>           
                    </div> 
                </div>
            </div>
        </div>
    </body>
</html>
