<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Score-App profile page</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
    <div class="ProfileCss">
        <div ng-controller="ProfileController">
            
            <div class="row">
                <div class="col-md-12" id="ProfileTitle">
                    <div class="StylingProfileTitle"><h1>{{ profileElements.profilePageTitle }}</h1></div>
                </div>
            </div>    
            
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-5">
                    <div class="well">
                        <img class="img-rounded" ng-src="{{ userInfo.image_url }}"/>
                        <p>{{ userInfo.public_name }}</p>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="well"> //Intrests come here or Maskot</div>
                </div>
                
                    
            </div>
            
            
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-5">
                    <div class="well">
                        <table class="table table-hover">
                            <thead>
                                <tr ng-repeat="x in userRecords" >
                                    <th ng-click="setId(x.id)"> {{ x.title}} </th>
                                </tr>
                            </thead>
                        </table>
                        
                    </div>
                </div>
                <div class="col-md-5">
                    <div  ng-repeat= "x in userRecords | filter: {id: specificRecords}" >
                        <div class="well">
                            <h1>{{ x.title }}</h1>
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td>{{  x.startingDate }}</td>
                                        <td>{{ x.score }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    <div>
                </div>
                
                    
            </div>
            
            <!--
            <div class="row">
                <div class="col-md-4" id="FbData">
                <h3>FaceBookName's data</h3> 
                </div> 
                    <div id="DataTitles">
                        <div class="col-md-2" id="empty"></div>
                        <div class="col-md-1"><p>Tunnistus</p></div>
                        <div class="col-md-1"><p>Tyyppi</p></div>
                        <div class="col-md-1"><p>Rankkaus</p></div>
                        <div class="col-md-1"><p>Voitot</p></div>
                        <div class="col-md-1"><p>Häviöt</p></div>
                        <div class="col-md-1"><p>Yksityisyys</p></div>
                    </div>
            </div>
            <div class="row">
                <div class="col-md-4" id="profileData">
                    <p ng-repeat="x in recordsFB.profile" id="FBtext">
                    <img ng-src="{{ x.image_url }}">
                                 {{ x.public_name }}</p>
                         
                </div>
                <div class="col-md-2" id="empty2"></div>
                <div class="col-md-1" id="DataTable"><p ng-repeat= "x in records.records">{{ x.id }}</p></div>
                    <div class="col-md-1"><p ng-repeat= "x in records.records">{{ x.type }}</p></div>
                    <div class="col-md-1"><p ng-repeat= "x in records.records">{{ x.ranking }}</p></div>
                    <div class="col-md-1"><p ng-repeat= "x in records.records">{{ x.wins }}</p></div>
                    <div class="col-md-1"><p ng-repeat= "x in records.records">{{ x.losses }}</p></div>
                    <div class="col-md-1"><p ng-repeat= "x in records.records">{{ x.privacy }}</p></div>
            </div>
            <div class="row">
            <div class="col-md-4" id="interestData">    
                <h2>{{ profileElements.interestTitle }}</h2>
                <input type="Text" ng-model="interest.gamesorSports">
                <br>
                <button ng-click="add()">{{ profileElements.addInterest }}</button>
                <button ng-click="remove()">{{ profileElements.deleteInterest }}</button>
                <br>
                <ul>
                    <li ng-repeat="x in interests">{{ x.gamesorSports }}</li>
                </ul>
            </div>    
            </div>
        </div>
    </div>    
            -->
        </div> 
        </div>
    </body>
</html>
